<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace先随意写⼀个-->
<mapper namespace="User">
    <!--insert sql：保存⼀个汽⻋信息-->
    <insert id="insertUser">
        insert into Users
        values("100000001","2020","数据科学与大数据技术","01","082000403","陈赫","社会主义一次伟大的尝试","file:///empty","0320004001")

    </insert>
</mapper>
