<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace先随意写⼀个-->
<mapper namespace="Video">
    <!--insert sql：保存⼀个汽⻋信息-->
    <insert id="insertVideo">
        insert into Video
        values("000000001","file:///empty")
    </insert>
</mapper>
